:root {
    /* colors */
    --almost-black: #161116;
    --white: #ffffff;
    --red-orange: #E93209;
    --goldenrod: #FACC56;
    --light-pink: #F9D9D0;
    --beige: #FDF9EE;
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat';
    font-size: 18px;
}
.navbar {
    background-color: var(--beige);
    height: 200px;
}
.nav-item {
    font-weight: 700;
    color: var(--almost-black);
    font-size: .9rem;
    text-transform: uppercase;
}
.container-fluid {
    border: 1px solid blue;
}
.navbar-brand {
    /* border: 1px solid red; */
    font-size: 1.9rem;

}
/* .navbar-nav {
    display: flex;
    flex-direction: column;
} */
h1 {
    font-family: 'Montserrat';
    color: var(--almost-black);
    font-weight: 800;
    font-size: 1.9rem; /* higher specificity on .navbar-brand */
}